main {
    padding: 20px;
  }
  
  .about {
    margin: 20px auto;
    max-width: 800px;
  }
  
  .about h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 16px;
    line-height: 1.5;
    align-content: center;
  }
